<div class="inner-container mt-5">

    <img src="assets/logo.svg">

    <div class="input-group mb-4 mt-4">
        <input type="text" class="form-control" placeholder="Search...">
        <button class="btn btn-outline-dark" type="button" id="button-addon2">Search</button>
    </div>


    <form action="/api/upload" method="post" enctype="multipart/form-data">

        <div class="row mt-5">
                <input name="resume" type="file" class="custom-file-input">
        </div>

        <div class="row">
            <button id="btnUpload" type="submit" class="btn btn-outline-dark mt-3">
                Upload File
                <i class='bx bx-cloud-upload' style="font-size: 30px; vertical-align: middle;"></i>
            </button>
        </div>
    </form>
    
</div>
