<div class="inner-container mt-5">

    <h1>Heroic Bug</h1>

    <form action="/api/upload" method="post" enctype="multipart/form-data">

        <div class="row">
            <input name="resume" type="file" class="custom-file-input">
        </div>

        <div class="row">
            <button id="btnUpload" type="submit" class="btn btn-outline-dark mt-3">
                Upload File
                <i class='bx bx-cloud-upload' style="font-size: 30px; vertical-align: middle;"></i>
            </button>
        </div>
    </form>
    
</div>
